# Ignorar o arquivo .env que contém suas variáveis de ambiente
.env

# Ignorar arquivos de bytecode Python
__pycache__/
*.py[cod]

# Ignorar arquivos de teste
*.egg-info/
*.egg

# Ignorar a pasta de dependências virtuais
venv/
env/

# Ignorar arquivos de configuração de IDEs
*.idea/
*.vs/
